<html>
    <head>
        <link rel="stylesheet" href='./../static/style1.css' />
    </head>
    <body>
        <h3>Bottoni</h3>
        <form method="post" action="/index">
            <input type="submit" value="avanti" name="w" onmousedown="onPress('w')" onmouseup="onRelease('w')"/>
            <input type="submit" value="indietro" name="s" onmousedown="onPress('s')" onmouseup="onRelease('w')"/>
            <input type="submit" value="sinistra" name="a" onmousedown="onPress('a')" onmouseup="onRelease('w')"/>
            <input type="submit" value="destra" name="d" onmousedown="onPress('destra')" onmouseup="onRelease('w')"/>
            <input type="submit" value="stop" name="stop"/>
            <input type="submit" value="esc" name="esc"/>
            <input type="submit" value="logout" name="logout"/>
        </form>
    </body>

</html>